---
title: "Category"
layout: default
permalink: "/category.html"
---

<div class="row listrecent">
  {% assign callingPageTitle = page.title | replace: " ","-" %}
  {% for category in site.categories %}
    {% assign currentCategory = category[0] | replace: " ","-" %}
    {% if currentCategory == callingPageTitle %}
      {% assign categoryMd = site.pages | where: "title", currentCategory | first %}
        <div class="section-title col-md-12 mt-4">
          <h2 id="{{ currentCategory }}"> <span class="text-capitalize">{{ categoryMd.title | replace: '&quot;', '\"' }}</span></h2>
        </div>
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
            {% include postbox.html %}
        {% endfor %}
    {% endif %}
  {% endfor %}
</div>